.header{
    align:center;
}
.matTab{
    width: 100%;
}
.head{
    top: 0px;
    position: sticky;
    z-index: 100;
    font-size: 28px;
    font-weight: bold;
}
.rgbutton{
    float:right;
}
.matTab td{
    padding: 10px;
    font-size: 14px;
    /* max-width: 250px; */
    min-width: 190px;
}