  <div class="parent" >
    <button mat-button class="pull-right forgotpassword" (click)="moveRegistration();">AdCustomer</button>
    <button mat-button class="pull-right forgotpassword2" (click)="moveRegistration();">showAllCustomers</button>
    <button mat-button class="pull-right forgotpassword3" (click)="moveRegistration();">ShowBarChart</button>
    <div class="child">
      <div class="form-block">
        
        <h2 style="font-size: 50px;">Welcome</h2>
        <p style="font-size: 20px;"><span><img style="width: 30px;" src="assets/user.png"></span></p>
      </div>
      <div class="form-block">
        <h4 style="font-size: 20px;"> this is your home page</h4>
      
      </div>
   
    </div>
  </div>