<div class="login-container w-100">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">Edit Page</mat-toolbar>
    <mat-card>
      <form class="edit-user-form" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
              <mat-form-field>
                      <input appBlue autofocus  type="text" matInput placeholder="Name" formControlName="Name" readonly [(ngModel)]="editabledata.Name" >
                    </mat-form-field>
          
              <mat-form-field>
                      <input  autofocus type="number" matInput placeholder="age" formControlName="age" [(ngModel)]="editabledata.age" >
                    </mat-form-field>
          
              <mat-form-field>
                      <input  autofocus type="Address" matInput placeholder="Address" formControlName="Address" [(ngModel)]="editabledata.Address">
                    </mat-form-field>
          
        <mat-form-field>
          <input autofocus  type="number" matInput placeholder="phoneNumber" formControlName="phoneNumber" [(ngModel)]="editabledata.phoneNumber">
        </mat-form-field>
        <mat-form-field>
          <input autofocus  type="date" matInput placeholder="dateOfBirth" formControlName="dateOfBirth" [(ngModel)]="editabledata.dateOfBirth">
        </mat-form-field>
        
        <p class="text-center">
          <button type="submit" mat-raised-button color="primary">Save</button>
        </p>
      </form>
    </mat-card>
  </div>
</div>